@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "rubik", sans-serif;
  background-color: hsl(226, 41%, 10%);
  color: white;
  text-transform: capitalize;
}

main {
  padding: 130px 24px 0 24px;
  max-width: 450px;
  margin-inline: auto;
}

button {
  cursor: pointer;
}
.container {
  clear: both;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.profile {
  background-color: hsl(235, 46%, 20%);
  overflow: hidden;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}

.profile--top {
  background-color: hsl(246, 80%, 60%);
  display: flex;
  gap: 24px;
  padding: 40px 28px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}

.profile--img {
  padding: 3px;
  background-color: white;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.profile--img img {
  width: 80px;
}

.profile--name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  z-index: 1000;
}
.profile--name p:first-child {
  font-weight: 200;
  color: #bbb;
}
.profile--name p:last-child {
  font-family: "Exo";
  font-size: 26px;
  font-weight: 200;
}

.profile--bottom {
  display: flex;
}
.profile--bottom .button-term {
  border: none;
  color: #bbb;
  background: transparent;
  height: 80px;
  flex: 1;
  font-family: inherit;
  font-size: 20px;
  font-weight: 300;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.profile--bottom .button-term:is(:hover, :active) {
  background-color: hsl(236, 40%, 24%);
  color: #666;
}

.items {
  padding-top: 50px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  position: relative;
}

.work {
  background-color: hsl(15, 100%, 70%);
}

.play {
  background-color: hsl(195, 74%, 62%);
}

.study {
  background-color: hsl(348, 100%, 68%);
}

.exercise {
  background-color: hsl(145, 58%, 55%);
}

.social {
  background-color: hsl(264, 64%, 52%);
}
.social img {
  top: -5px;
}

.self-care {
  background-color: hsl(43, 84%, 65%);
}

.items__img--header {
  position: absolute;
  top: 0;
  right: 20px;
}

.items__content {
  background-color: hsl(235, 46%, 20%);
  border-radius: 18px 18px 15px 15px;
  -webkit-border-radius: 18px 18px 15px 15px;
  -moz-border-radius: 18px 18px 15px 15px;
  -ms-border-radius: 18px 18px 15px 15px;
  -o-border-radius: 18px 18px 15px 15px;
  padding: 32px 24px;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
}

.items__content--top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.items__content--top h2 {
  font-size: 18px;
  font-weight: 600;
}
.items__content--top .show-work-button {
  border: none;
  background: transparent;
  padding: 10px;
}
.items__content--top .show-work-button:is(:hover, :focus, :active) img {
  opacity: 30%;
}

.weekly,
.monthly {
  display: none;
}

.items__content--bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.items__content--bottom p:first-child {
  font-size: 36px;
  font-weight: 100;
}
.items__content--bottom .previous-hours {
  color: #bbb;
  font-size: 18px;
  font-weight: 300;
}

.hidden {
  display: none;
}

.show {
  display: inline-block;
}

.active {
  color: white;
  font-weight: 400 !important;
}

@media (min-width: 768px) {
  main {
    max-width: 700px;
  }
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .profile {
    grid-column: 1/3;
    display: flex;
  }
  .profile--top {
    flex: 1;
  }
  .profile--img {
    width: 120px;
    height: 120px;
  }
  .profile--img img {
    width: 100%;
  }
  .profile--name p:first-child {
    font-size: 18px;
  }
  .profile--name p:last-child {
    font-size: 36px;
  }
  .profile--bottom {
    flex-direction: column;
  }
  .profile--bottom button {
    width: 150px;
    font-size: 22px;
    text-align: left;
    padding-left: 24px;
  }
  .items__content--top {
    margin-bottom: 20px;
  }
}
@media (min-width: 1024px) {
  main {
    max-width: 1400px;
    padding-inline: 88px;
  }
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .profile {
    grid-row: 1/3;
    grid-column: 1/2;
    flex-direction: column;
  }
  .profile--top {
    flex-direction: column;
    flex: none;
  }
  .profile--bottom {
    height: 100%;
  }
  .profile--bottom button {
    width: 100%;
    height: 100%;
  }
  .items__content--bottom {
    flex-direction: column;
    align-items: start;
  }
  .items__content--bottom p:first-child {
    font-size: 45px;
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=style.css.map */